.js-clock-container {
  width: 100%;
  text-align: center;
  display: block;
}

.js-stopwatch-container {
  display: none;
}

.js-d-day-container {
  display: none;
}

.date-text {
  color: white;
  font-size: 1rem;
  vertical-align: top;
}

.time-text {
  color: white;
  margin-left: 1%;
  font-size: 7rem;
}
