.js-clock-container {
  display: none;
}

.js-stopwatch-container {
  display: none;
}

.js-d-day-container {
  display: block;
  width: 100%;
  text-align: center;
}

.js-d-day-container form {
  animation: fadeIn 1s ease-in-out forwards;
}

.event-text {
  font-size: 2rem;
  color: white;
}

.date-container {
  color: white;
  font-size: 1rem;
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 7rem;
}

.date-text {
  color: white;
  margin-right: 3%;
}

.d-day-reset {
  border: none;
  background: none;
  padding: 13px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.438);
  outline: none;
}

.d-day-reset:hover {
  color: white;
}
