* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-size: cover;
  display: flex;
  background-position: center center;
  justify-content: center;
  align-items: center;
  opacity: 1;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out forwards;
}

.wrapper {
  padding-left: 5%;
  padding-right: 5%;
}

button {
  border: none;
  background-color: white;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  display: inline-block;
}

.stopwatch-btn {
  padding: 5%;
  text-align: center;
}

.js-clock,
.js-stopwatch,
.js-timer {
  font-size: 100px;
}

.js-stopwatch {
  font-family: sans-serif;
}

.start {
  border: 1px solid yellowgreen;
  color: yellowgreen;
  margin: 1%;
}
.pause {
  border: 1px solid red;
  color: red;
  margin: 1%;
}
.reset {
  border: 1px solid blue;
  color: blue;
  margin: 1%;
}

.start:hover {
  background-color: yellowgreen;
  color: white;
}

.pause:hover {
  background-color: red;
  color: white;
}

.reset:hover {
  background-color: blue;
  color: white;
}

.record-list {
  display: flex;
  align-items: center;
  text-align: center;
}

ul {
  text-align: center;
}

li {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.showing {
  animation: fadeIn 1s ease-in-out forwards;
}

.no-showing {
  animation: fadeOut 1s ease-in-out forwards;
}
