* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-size: cover;
  display: flex;
  background-position: center center;
  justify-content: center;
  align-items: center;
  opacity: 1;
  flex-direction: column;
}

button {
  border: none;
  background-color: white;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.js-clock {
  font-size: 100px;
}

.js-today-container {
  align-self: flex-start;
  padding-left: 2%;
}
